<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Подключение модуля AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <!-- Подключение пользовательсской скриптовой части -->
    <script src="jsmain.js"></script>
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="panelStyle.css">
    <title>Document</title>
</head>
<body ng-app="app">
    <div class="hat">
        <div class="hatContent">
            <div class="hatGreenLine"></div>
        <div class="hatLogo">
            <!--logo here-->
            <img src="logo.jpg" alt="" style="
            height: 240px;
            width: 400px;
            float: left;
            padding-left: 10px;
            ">
        </div>
        <div class="hatTitle">
            Телефонный справочник управления Росреестра по Пензенской области
        </div>
        <div class="hatGreenLine"></div>
        <div class="clear"></div>
    </div>
    <div class="hatSplitter"></div>
    </div>
    <div class="main">
    <div ng-app="app" ng-controller="phonebookCtrl">
        <form id="editPanel">
            <div class="row">
                <div class="small-3 columns">
                    <label class="right inline">ФИО</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" ng-model="name" />
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label class="right inline">№ телефона</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" ng-model="phone" />
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label class="right inline">Эл. почта</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" ng-model="email" />
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns"></div>
                <div class="small-9 columns">
                    <!-- Функция добавления нового контакта -->
                    <button class="small radius" ng-click="addNewPerson()" ng-hide="currentPersonId > -1">Добавить</button>
                    <!-- Функция сохранения контакта -->
                    <button class="small radius" ng-click="savePerson()" ng-show="currentPersonId > -1">Сохранить</button>
                </div>
            </div>
        </form>
        
        <table id="phonebook">
            <!-- Верхняя чатсь таблицы. Хранит столбцы с атрибутами -->
        <thead style="
        background-color: lightgreen;
        ">
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>№ телефона</th>
                <th>Эл. почта</th>
                <th></th>
            </tr>
        </thead>
        <!-- Тело таблицы. Хранит информацию о контактах -->
        <tbody>
            <tr ng-repeat="person in phonebook">
                <td>{{ $index + 1 }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.email }}</td>
                <td>
                    <button class="tiny radius" ng-click="editPerson($index)">ред-ть</button>
                    <button class="tiny radius alert" ng-click="deletePerson($index)">удалить</button>
                </td>
            </tr>
        </tbody>
        </table>
        <!-- Изменение/сохранение таблицы -->
        <button id="editButton" ng-click="editMode()" style="
  float: left;
  ">Изменить</button>
        
        </div>
    </div>
</body>
</html>