body {
    margin: 0;
}

.hatLogo {
    height: 240px;
    float: left;   
}

.hatGreenLine {
    background-color: lightgreen;
    width: 20px;
    height: 240px;
    float: left;
}

.hatContent {
    height: 240px;
}
.hatTitle {
    float: left;
    background-color: rgba(60, 168, 96, 0.733);
    font-size: 40px;
    height: 100%;
    width: 1470px;
}

.hatSplitter {
    background-color: lightgrey;
    width: 100%;
    height: 10px;
}

.clear {
    clear: both;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
  }
  form button.small {
    padding: 8px 17px;
  }
  #phonebook {
    margin: 0 auto;
    margin-left: 20%;
    float: left;
  }
  #phonebook button.tiny {
    margin-bottom: 0;
    padding: 5px 10px;
  }

  #editPanel {
      float: left;
  }
